.container{
	background-color: black;
	margin-top: 20px ;
	padding-left: 20px;
	margin-right: 0px;
}
.row{
	color: white;
	padding-top: 50px;
	padding-left: 30px;
	margin-right: 0px;
}
.conten{
	padding-top: 15px;
	padding-bottom: 15px;
	margin-left: 0px;
	margin-right: 0px;
	background-color:#333333;
}
button{
	background-color:#aaaaff;
}
img{
	width: 50px;
}