h1{
	color: red;
	font-family: Arial;
}
body{
	background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20190223/ourmid/pngtree-kraft-paper-texture-papertexturepaperbackground-image_84899.jpg);
    background-repeat: round;
    background-size: cover;
    font-family: Verdana;
}
.header{
	background-color: pink;
	text-align: center;
	width: 75%;
	margin: auto;
}
.header ul{
	list-style-type: none;
	padding: 15px;
	border: 1px solid black;
}
.header a{
	color: blue;
	font-family: Courier New;
	display: inline;
	background-color: yellow;
	border: 1px solid black;
	padding: 5px;
}
.header a:hover{
	background-color: purple;
	color: pink;
	
}
.logo{
	text-align: center;
	background-color: yellow;
	border: 1px dotted black;
	}
.form1{
	background-color: #fff8dc;
	border: 3px dotted black;
	padding: 15px;
	margin: auto;
	width:50%;
	}
.form3 {
	border-radius: 5px;
	padding: 10px;
	display: inline-block;
	color: white;
	background-color: #0602ff;
	margin: 5px;
}
.footer{
	background-color: #0ff;
	border: 1px solid black;
	padding:15px;
	border-radius: 15px;
	font-family: none;
	display: inline-block;
	}